<div id="strings">
  <button data-index="-17" data-pitch="E2">E</button>
  <button data-index="-12" data-pitch="A2">A</button>
  <button data-index="-7" data-pitch="D3">D</button>
  <button data-index="-2" data-pitch="G3">G</button>
  <button data-index="2" data-pitch="B3">B</button>
  <button data-index="7" data-pitch="E4">E</button>
</div>
